:root {
    --main-colour: rgb(85, 85, 172);
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: rgb(85, 85, 172); */
    background: linear-gradient(to right, rgb(43, 43, 151), rgb(85, 85, 172));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.header-links {
    font-size: 20px;
}

.sikebot-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 100px;
    width: auto;
    padding-left: 19px;
}

.right .header-links {
    display: flex;
    padding-right: 100px;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #E5E7EB;
    /* opacity: 0.7; */
}

a::visited {
    color: white;;
}


ul {
    list-style-type: none;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.ul-header {
    display: flex;
}

.maincontent-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.home-title {
    font-size: 5rem;
    line-height: 1;
}

.maincontent-home-title, .main-content-commands-title {
    padding: 0;
    margin: 0;
}

.home-subtext {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    opacity: 0.6;
}

.home-button {
    line-height: 6;
}


.home-invite {
    background: var(--main-colour);
    border-radius: 12px;
    font-size: 20px;
    color: #E5E7EB;
    cursor: pointer;
    padding: 15px 30px;
}

/* Commands */

.main-content-commands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commands-title {
    font-size: 3rem;
    line-height: 1;
}

.commands-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.div-command {
    margin: 0 0 30px 0;
}